<!DOCTYPE html>
<html>
    <head>
        <title>デレステ</title>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" href= <%=
        "https://hidamarirhodonite.kirara.ca/icon_card/"+key %> /> <link
        rel="shortcut icon" href=<%=
        "https://hidamarirhodonite.kirara.ca/icon_card/"+key %> />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h3>이 페이지를 홈 화면에 추가해주세요!</h3>
        <h5>
            추가하는 자세한 방법 :
            <a
                href="http://www.inven.co.kr/board/imas/4104/648"
                target="_blank"
                rel="noopener noreferrer"
                >서비스 안내 인벤글 (새 창에서 열림)</a
            >
        </h5>
        <h4>유의사항 1</h4>
        <article>
            이 사이트에서 생성된 바로가기는 멀티앱이 아닙니다. 그러므로
            바로가기를 생성한 뒤 데레스테 앱을 삭제하시면 안됩니다.
        </article>
        <h4>유의사항 2</h4>
        <article>
            [안드로이드] 멀티앱 설치 등으로 데레스테 앱이 두개 이상 기기에
            설치되어 있는 경우 이 사이트에서 만들어진 바로가기를 실행할 때 어느
            앱으로 연결할지 물어봅니다. 만약 여기서 특정 앱을 기본값으로
            설정한다면 이 사이트에서 만들어진 모든 데레스테 바로가기 아이콘이
            기본값으로 선택한 앱으로 연결됩니다.
        </article>
    </body>
</html>
